{{#if (and editable (eq mode "selected"))}}
  <p class="delete-icon" {{action "removeItem" item}}>
    {{material-icon "highlight_off"}}
  </p>
{{else if (eq mode "available")}}
  {{#if isSelected}}
    <p class="select-icon" {{action 'toggleItem'}}>
      {{material-icon "check_box"}}
    </p>
  {{else}}
    <p class="select-icon"
      {{action 'toggleItem'}}>
      {{material-icon "check_box_outline_blank"}}
    </p>
  {{/if}}
{{/if}}
{{chemical-display
  canvasIdRoot=canvasIdRoot
  index=item.id
  model=item
  chemType=chemType
  noLabel=true
  size='sm'
}}
{{#if itemLink}}
  {{#link-to routeToItem item }}
    <p class="text-truncate mb-0">{{item.name}}</p>
  {{/link-to }}
{{else}}
  <p class="text-truncate mb-0">{{item.name}}</p>
{{/if}}
