<div class="d-flex">
  <h4 >{{title}}</h4>
    {{#if editable}}
      <div class='m-1 ml-3'>
          {{#bs-dropdown
            class='chemical-select-action' as |dd| }}
            {{#dd.toggle class="text-info"}}modifiy <span class="caret"></span>{{/dd.toggle}}
            {{#dd.menu align="left" as |menu|}}
              {{#if (gt listAvailable.length 0)}}
                {{#menu.item}}
                  <a href="#"
                    {{action "addAll"}}
                    class="dropdown-item text-info">
                    Add all</a>
                {{/menu.item}}
                {{menu.divider}}
                {{#menu.item}}
                  <a href="#"
                    {{action 'displayAvailable'}}
                    class="dropdown-item text-info">
                    Select</a>
                {{/menu.item}}
                {{menu.divider}}
              {{/if}}
              {{#each additionalActions as |action|}}
                {{#menu.item}}
                  <a href="#"
                    {{action action.call}}
                    class="dropdown-item text-info">
                    {{action.label}}</a>
                {{/menu.item}}
                {{menu.divider}}
              {{/each}}
              {{#menu.item}}
                <a href="#"
                  {{action "removeAll"}}
                  class="dropdown-item text-secondary">
                  Remove all
                </a>
              {{/menu.item}}
            {{/dd.menu}}
          {{/bs-dropdown}}
      </div>
    {{/if}}
</div>
{{#if (eq listSelected.length 0)}}
<p><i>No annotations selected</i></p>
{{/if}}
{{#each listSelected as |item| }}
  {{chemical-select-item
    project=project
    item=item
    chemType=chemType
    mode="selected"
    dataLabel=dataLabel
    updateDataComponentItem=(action 'updateDataComponentAction')
    itemLink=itemLink
    editable=editable
    reloadListsAction=(action 'reloadListsAction')}}
{{/each}}
{{pagination-handler data=listSelected}}

{{#bs-modal
  class="project-item-select"
  open=selectAnotModal
  size="lg"
  onHidden=(action (mut selectAnotModal) false) as |modal|}}
 {{#modal.header}}
  <h4 class="modal-title">
   Select annotations
  </h4>
 {{/modal.header}}
 {{#modal.body}}
   {{#each listAvailable as |item| }}
     {{chemical-select-item
       project=project
       item=item
       chemType=chemType
       mode="available"
       dataLabel=dataLabel
       updateDataComponentItem=(action 'updateDataComponentAction')
       itemLink=itemLink
       toggleItemComponent=(action 'toggleItemList')}}
   {{/each}}
   {{pagination-handler data=listAvailable}}
 {{/modal.body}}
 {{#modal.footer}}
    {{#bs-button
      type="info"
      disabled=(eq toAddCount 0)
      onClick=(action 'addItems') }}
      Add
      {{/bs-button}}
 {{/modal.footer}}
{{/bs-modal}}
