{{WatchUpdateFilter}}
{{WatchAddItems}}
<div class="row">
  {{items-list
    class="col-lg-10"
    title=title
    model=model
    project=project
    listHeader=listHeader
    listItem=listItem
    itemToEdit=itemToEdit
    item=item
    updatedItemIds=updatedItemIds
    triggerSelected=triggerSelected
    hasChanges=hasChanges
    projectView=projectView
    itemHeader=itemHeader
    dataToDelete=dataToDelete
    dataLabel=dataLabel
    listSelectable=listSelectable
  }}
  {{items-index-menu
    class="col-lg-2"
    dataLabel=dataLabel
    getFilter=getFilter
    setFilter=setFilter
    store=store
    status=status
    selected=selected
    triggerSelected=triggerSelected
    TriggerUpdateFilter=TriggerUpdateFilter
    triggerAddItems=triggerAddItems
    projectView=projectView
    getItemStatus=getItemStatus
    availableStatus=availableStatus
    updatedItemIds=updatedItemIds
    initItemIds=initItemIds
    hasChanges=hasChanges
    text=text
    my=my
    user=user
    indexMenu=indexMenu
    customParams=customParams
    listSelectable=listSelectable
  }}
</div>
{{delete-modal
  title=deleteTitle
  dataToDelete=dataToDelete
  dataLabel=model.dataLabel
  updateDataController="updateDataController"
}}