  <div>

    <div>
      {{WatchUpdateFilter}}
      {{yield}}


      {{#if projectView}}
      <div class="card my-2">
        <div class="card-header">{{svg-jar "gear" class="octicon"}} Actions</div>
        <ul class="list-group list-group-flush btn-group-vertical">

          <button type="button" class="btn btn-primary" {{action "selectAll"}} style="border-radius: 0;">
            {{svg-jar "tasklist" class="octicon"}} All
          </button>
          <button type="button" class="btn btn-primary" {{action "deSelectAll"}}>
            {{svg-jar "circle-slash" class="octicon"}} None
          </button>
          <button type="button" class="btn btn-primary" {{action "addItems"}} disabled={{if (not hasChanges) true}}>
            {{svg-jar "save" class="octicon"}} Save
          </button>
          <button type="button" class="btn btn-secondary" {{action "cancelSelect"}}
            disabled={{if (not hasChanges) true}}>
            {{svg-jar "clear" class="octicon"}} Cancel
          </button>
        </ul>
      </div>
      {{/if}}

    </div>
  </div>

