<div class="col pb-2 h-100">
  <div
    class="card display-hover-group h-100 {{if isSelected "border-primary"}}"
  >
    <div class="card-header font-weight-bold px-2 py-1">
      <div class="{{if projectView "row"}} display-hover-group">
        <div class="{{if projectView "col-10"}}">
          {{#if itemHeader}}
            {{component itemHeader item=item}}
          {{else}}
            <div class="d-inline-block w-100 text-truncate">
              <BsTooltip>
                {{item.name}}
              </BsTooltip>
              {{item.name}}
            </div>
          {{/if}}
        </div>
        {{#if listSelectable}}
          <div
            class="col-2 display-hover-item {{if isSelected "selected-item"}}"
            onclick={{action "toggleSlelect"}}
          >
            {{svg-jar "check" class="octicon"}}
          </div>
        {{/if}}
      </div>
    </div>
    {{component
      listItem
      tagName=""
      item=item
      itemToEdit=itemToEdit
      updatedItemIds=updatedItemIds
      triggerSelected=triggerSelected
      hasChanges=hasChanges
      projectView=projectView
      isSelectable=isSelectable
      dataToDelete=dataToDelete
    }}
  </div>
</div>