<div>
  <div class="d-flex mb-3">
    <div class="mr-auto">
      <h2 class="d-inline">
        {{title}}
      </h2>
      {{#if updatedItemIds}}
        <span>
          (
          {{selectedCount}}
          selected)
        </span>
      {{/if}}
    </div>
    {{component
      listHeader
      formatSelect=formatSelect
      uploadAnnotRouteLabel=uploadAnnotRouteLabel
      dataLabel=dataLabel
      model=project
      projectView=projectView
    }}
  </div>
  <div>
    <div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
        {{#each model as |item|}}
          {{items-list-item
            listItem=listItem
            item=item
            updatedItemIds=updatedItemIds
            triggerSelected=triggerSelected
            hasChanges=hasChanges
            projectView=projectView
            itemHeader=itemHeader
          }}
        {{/each}}
      </div>
      {{pagination-handler data=model}}
    </div>
  </div>
</div>
{{delete-modal title="Delete annotation" dataToDelete=dataToDelete}}