<div>

    <div class="d-flex mb-3">
        <div class="mr-auto">
            <h2 class="d-inline">
                {{title}}
            </h2>
            {{#if updatedItemIds}}
            <span>
                ({{selectedCount}} selected)
            </span>
            {{/if}}
        </div>
        {{component listHeader}}
    </div>
    <div>
        <div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                {{yield}}
            </div>
            {{pagination-handler data=model}}
        </div>

    </div>
</div>