<div class="col my-1">


    <div class="card  h-100 {{if isSelected 'border-primary'}}">

        <div class="card-header font-weight-bold px-2 py-1 ">
            <div class="{{if projectView 'row'}} display-hover-group">

                <div class="{{if projectView 'col-10'}}">
                    {{#link-to 
                        'reactions.show' 
                        item 
                        class='d-inline-block w-100 text-truncate' 
                        style="text-decoration: none;"}}
                    {{item.name}}
                    {{/link-to }}
                </div>

                {{#if isSelectable}}
                <div class="col-2 display-hover-item {{if isSelected 'selected-item'}}"
                    onclick={{action "toggleSlelect"}}>
                    {{svg-jar "check" class="octicon"}}
                </div>
                {{/if}}
            </div>
        </div>

        <div class="card-img-top text-center">
            <div class="d-inline-block position-relative w-100 display-hover-group">
                <p class="status-badge">{{status-badge model=item}}</p>
                {{chemical-display
                    canvasId=item.canvasId
                    model=item
                    chemType='reaction'
                    customBorderWidth=0
                    }}
                <p class="absolute-br m-0 p-1 text-muted text-truncate font-italic"
                    style="font-size: smaller; width=20px;">
                    {{item.user_name}}
                </p>
                {{#if item.isEditable}}
                <div class="display-hover-absolute">
                    {{#bs-button class="btn-sm" type="danger" onClick=(action (mut dataToDelete) item )}}
                    {{svg-jar "trashcan" class="octicon"}}
                    {{/bs-button}}
                </div>
                {{/if}}
            </div>
        </div>
        {{#if item.hasTags}}
        <div class=" card-body px-1 py-0" style="font-size: smaller;">
            {{#each item.tags_list as |tag|}}
            <span class="badge badge-info d-inline-block d-inline">
                {{tag}}
            </span>
            {{/each}}
        </div>
        {{/if}}
    </div>

</div>