{{WatchUpdateFilter}}
{{WatchAddItems}}

<div class="row">

  {{#items-list
    class="col-lg-10" 
    title="Reactions"
    modelLabel="reaction" 
    model=model 
    newItem=(route-action 'newItem')
    listHeader="reaction-list-header"}}
  {{#each model as |reaction|}}
  {{reaction-list-item 
                item=reaction 
                updatedItemIds=updatedItemIds 
                triggerSelected=triggerSelected 
                hasChanges=hasChanges
                projectView=projectView}}
  {{/each}}
  {{/items-list}}

  {{#items-index-menu
      class="col-lg-2"
      dataLabel="reaction"
      getFilter=getFilter
      setFilter=setFilter
      store=store
      status=status 
      selected=selected
      triggerSelected=triggerSelected 
      TriggerUpdateFilter=TriggerUpdateFilter
      triggerAddItems=triggerAddItems
      projectView=projectView
      getItemStatus=getItemStatus
      availableStatus=availableStatus
      updatedItemIds=updatedItemIds
      initItemIds=initItemIds
      hasChanges=hasChanges
      text=text 
      my=my 
      user=user}}
  {{reaction-index-menu 
      text=text 
      my=my 
      user=user
  }}
  {{/items-index-menu}}

</div>
{{delete-modal title="Delete reaction" dataToDelete=dataToDelete dataLabel=model.dataLabel
updateDataController='updateDataController'}}
