<div class="card">
    <div class="card-body">

        <h4>Filter</h4>

        <form>
            {{#if (not updatedReactionIds)}}
            <h5>Status</h5>
            {{#each reactionStatus as |status| }}

            <div class="checkbox">
                <label>
                    {{input type="checkbox" checked=status.checked }}
                    <span class="badge badge-{{status.class}}" style="vertical-align:top">
                        {{status.libelle}}
                    </span>

                </label>
            </div>
            {{/each}}
            {{/if}}
            <h5>Text</h5>
            <label>
                {{input value=inputText class='form-control'}}
            </label>
            <h5>User</h5>
            <div class="checkbox">
                <label>
                    {{input type="checkbox" checked=inputMy }} My reactions
                </label>
            </div>
            <label>
                {{input value=inputUser class='form-control' disabled=inputMy}}
            </label>
            {{#if updatedReactionIds}}
            <h5>Selection</h5>
            <label>
                <select class="form-control" onchange={{action "updateSelected" value="target.value"}}>
                    <option value='all'>All</option>
                    <option value='selected'>Selected</option>
                    <option value='notselected'>Not selected</option>
                </select>
            </label>
            {{/if}}
            {{#bs-button type="primary" onClick=(action 'updateFilter')}}Apply{{/bs-button}}
        </form>

    </div>
</div>