
{{annotations-manager 
  model=frag-annotation 
  modelName="frag-annotation" 
  updateDataPage=(route-action 'updateDataPage')
  status=status
  annotationToEdit=annotationToEdit
  
}}

{{!-- 
<div class="d-flex">
  <h3 class="mr-auto">Ions annotations</h3>
  <div class='d-flex'>
    {{#if false}}
    <div class="m-1">
      {{#bs-button type="success" onClick=(action 'openAddAnnotModal')}}
      {{svg-jar "plus" class="octicon"}}Add annotation
      {{/bs-button}}
    </div>
    {{/if}}
    {{file-upload
            class="m-1"
            modalId="annot-file-upload-modal"
            title="Import annotation file"
            routeLabel=uploadAnnotRouteLabel
            dataLabel=frag-annotation.dataLabel
            formatSelect=model.annotationFileFormats}}
    {{#bs-button class="btn m-1" type="primary" onClick=(action 'getFile' 'annotations' 'annotations.csv')}}
    {{svg-jar "cloud-download" class="octicon"}} Annotations
    {{/bs-button}}
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3">
  {{#each frag-annotation as |annotation|}}
  <div class="col mb-4">
    <div class="card h-100 display-hover-group">
      <div class="card-header font-weight-bold">
        {{annotation.name}}
      </div>
      <div class="card-img-top text-center">
        <div class="d-inline-block position-relative w-100">
          <p class="status-badge">{{annotation-status-badge statusId=annotation.status_id}}</p>
          {{chemical-display
                model = annotation
                canvasId = annotation.canvasId
                chemType = 'molecule'
                customBorderWidth=0}}
          <div class="display-hover-item">
            {{#bs-button class="btn-sm m-1" type="primary" onClick=(action (mut annotationToEdit) annotation )}}
            {{svg-jar "pencil" class="octicon"}}
            {{/bs-button}}
            {{#if annotation.has_no_project}}
            <br />
            {{#bs-button class="btn-sm m-1" type="danger" onClick=(action (mut dataToDelete) annotation )}}
            {{svg-jar "trashcan" class="octicon"}}
            {{/bs-button}}
            {{/if}}
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>Id :</b> {{annotation.ion_id}}<br>
          <b>m/z :</b>{{annotation.mz}}<br>
          <b>Adduct :</b> {{annotation.adduct}}
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>Source DB :</b> {{annotation.db_source}}<br>
          <b>Source Id :</b> {{annotation.db_id}}
        </li>
      </ul>
    </div>
  </div>
  {{/each}}
</div>

{{pagination-handler data=frag-annotation}}
--}}
{{#bs-modal open=modalAddAnnot onHidden=(action (mut modalAddAnnot) false) as |modal|}}
{{#modal.header}}
<h4 class="modal-title">
  Add annotation
</h4>
{{/modal.header}}
{{#modal.body}}
<form class="add_annotation">
  <div class="form-group">
    <label>Ion ID</label>
    <input type="text" class="form-control" class="ion-id">
    <label>Name</label>
    <input type="text" class="form-control" class="name">
    <label>Smiles</label>
    <input type="text" class="form-control" class="smiles">
    <label>Annotation source</label>
    <input type="text" class="form-control" class="db-source">
    <label>Source ID</label>
    <input type="text" class="form-control" class="db-id">
  </div>
</form>
{{/modal.body}}
{{#modal.footer}}
{{#if editing }}
{{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
{{#bs-button type="success" onClick=(action 'addAnnotation')}}Upload{{/bs-button}}
{{/if}}
{{#if uploading }}
<div class="progress btn-size">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuenow="100"
    aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    Uploading ...
  </div>
</div>
{{/if}}
{{/modal.footer}}
{{/bs-modal}}

{{annotation-editor title="Edit annotation" annotation=annotationToEdit}}

{{delete-modal title="Delete annotation" dataToDelete=dataToDelete dataLabel='frag-annotation' updateDataController='updateDataController'}} 