<h4>
  Spectrum filter
</h4>
<!-- {{compareConfFields}} -->
{{#each compareConfFields.filter as |f|}}
  {{ frag-compare-conf-field
    fragCompareConf=fragCompareConf
    f=f
    disabled=(not model.editable) }}
{{/each}}
<h4>
  Cosine score
</h4>
<!-- {{compareConfFields}} -->
{{#each compareConfFields.cosine as |f|}}
  {{ frag-compare-conf-field
    fragCompareConf=fragCompareConf
    f=f
    disabled=(not model.editable) }}
{{/each}}
{{#if (and model.editable model.okDepth)}}
  {{bs-button type=model.saveOrCreate.class
    class="mb-2 mr-sm-2"
    defaultText='Save'
    onClick=(action "fragCompareConfSave" model) }}
{{/if}}
