<h4>
  Spectrum filter
</h4>
<!-- {{compareConfFields}} -->
{{#each compareConfFields.filter as |f|}}
{{ frag-compare-conf-field
    fragCompareConf=fragCompareConf
    f=f
    disabled=(not model.editable) }}
{{/each}}
<h4>
  Cosine score
</h4>
<!-- {{compareConfFields}} -->
{{#each compareConfFields.cosine as |f|}}
{{ frag-compare-conf-field
    fragCompareConf=fragCompareConf
    f=f
    disabled=(not model.editable) }}
{{/each}}
{{#if (and model.editable model.okDepth)}}
{{bs-button type=model.saveOrCreate.class
    class="mb-2 mr-sm-2"
    defaultText='Save'
    onClick=(action "fragCompareConfSave" model) }}
{{/if}}


<h4>
  Custom fragmentation params files
</h4>
{{#each-in model.list_custom_frag_param_files as |fileType path|}}
<p>
  {{fileType}}
  {{#bs-button 
              type='danger'
              class="btn-sm"
              onClick=(action "DeleteCustomFragFile" fileType) }}
  {{svg-jar "trashcan" class="octicon"}}
  {{/bs-button}}
</p>
{{/each-in}}
{{file-upload
    class="m-1"
    modalId="training-file-upload-modal"
    title="Import training model file"
    model=model
    routeLabel=uploadCustomFragFile
    formatSelect=model.CustomFragFileTypes}}