<!-- Reactions index -->

<!-- index -->
<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <h3 class="mr-auto">
                Reactions
            </h3>
            <div>
              {{#if triggerFilter}}
                <a href="#"
                  {{action "changeFilter" triggerFilter.filter}}
                  class='mr-2 text-secondary align-bottom'>
                    {{triggerFilter.label}}
                </a>
              {{/if}}
              <button type="button" class="btn btn-success" {{action "newItem" "reaction" model}}>
                {{svg-jar "plus" class="octicon"}} New reaction
              </button>
            </div>
        </div>
        <div class="card-text">
            <table class="table table-sm table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Name</th>
                  <th scope="col">Reactants</th>
                  <th scope="col">User</th>
                  <th scope="col" width="30px"></th>
                </tr>
              </thead>
              <tbody>
            <!-- <div class="list-group"> -->
              {{#each model as |reaction|}}
                    <tr >
                        <td>{{status-badge model=reaction}}</td>
                        <td>{{#link-to 'reactions.show' reaction}} {{reaction.name}} {{/link-to }}</td>
                        <td>{{reaction.reactants_number}}</td>
                        <td>{{reaction.user_name}}</td>
                        <td>{{#if reaction.has_no_project}}
                        {{#bs-button class="btn-sm" type="danger" onClick=(action (mut dataToDelete) reaction )}}{{svg-jar "trashcan" class="octicon"}}{{/bs-button}}
                        {{/if}}</td>
                    </tr>
              {{/each}}
              </tbody>
            </table>

        {{pagination-handler data=model}}
        </div>
    </div>
</div>

{{delete-modal title="Delete reaction" dataToDelete=dataToDelete dataLabel=model.dataLabel updateDataController='updateDataController'}}
