<!-- route show -->

<div class="card">
  <div class="card-body">
    {{alert-generic
        alertType="danger"
        message=errorSaveMessage}}
    <div class="d-flex mb-4">
      <div class="w-100">
        <h3>
          {{model.name}}
          {{status-badge model=model class="d-inline"}}
        </h3>
        {{tag-manager model=model isEditing=isOwner}}
      </div>

      <div class="m-1">
        {{#if mainBtnInfo}}
        {{#bs-button type=mainBtnInfo.btnType onClick=(action mainBtnInfo.action) class="m-1"}}
        {{#if mainBtnInfo.icon}}
        {{svg-jar mainBtnInfo.icon class="octicon"}}
        {{else}}
        {{mainBtnInfo.label}}
        {{/if}}
        {{/bs-button}}
        {{/if}}
      </div>
    </div>

    <div>
      <form>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              {{#if model.isEditing}}
              <div class="form-group">
                <label>Name</label>
                {{input
                    value=model.name
                    model=model
                    class='form-control'}}
              </div>
              {{#if model.isNotInit}}
              {{bs-button type="primary" class="m-1"
                    defaultText="Load SMARTS"
                    onClick=(action (mut smartsReactionModal) true) }}
              {{/if}}
              {{else}}
              {{#if model.description}}
              <p>{{model.description}}</p>
              {{/if}}
              <p><b>Number of reactants :</b> {{model.reactants_number}} </p>
              <p><b>SMARTS :</b> <br />{{model.smarts}} </p>
              {{/if}}
            </div>
            <div class="form-group col-lg-8">
              {{{image}}}
              {{#if (and model.isEditing model.isNotInit)}}
              {{chemical-editor
                  model=model
                  chemType='reaction'
                  skecthId='sketcher-reaction'
                  evaluateAction=(action 'saveReaction')
                  saveModelComponent=saveReactionComponent
                  smartsModal=smartsReactionModal
                  sketcherReady=sketcherReady}}
              {{else if model.isNotInit}}
              {{chemical-display
                  canvasId='canvas-reaction'
                  model=model
                  chemType='reaction'
                  size='lg'
                }}
              {{/if}}
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Test Reaction -->
    {{#if (and model.isAtLeastValid (not  model.isObsolete))}}
    <h4 class="w-100 text-center test-reaction">
      Test the reaction
    </h4>
    <div class="container">
      <div class="row {{if (not products)'align-items-center'}}">
        <div class="form-group col-lg-6  w-100 text-center">
          <h5>
            {{if (not products) 'Draw'}}
            Reactant{{if (eq model.reactants_number 2) 's'}}
          </h5>
          {{#if products}}
          {{#each reactantsJSON as |reactant index|}}
          {{chemical-display
                  canvasIdRoot='canvas-reactant-'
                  index=index
                  dataJSON=reactant
                  chemType='molecule'
                  class="d-inline"
                }}
          {{/each}}
          {{/if}}
          <div class={{if products 'd-none'}}>
            {{#chemical-editor
                visible=(eq products false)
                model=reactants
                chemType='molecule'
                skecthId='sketcher-reactants'
                evaluateAction=(action 'runReaction')
                saveModelComponent=saveReactantsComponent
                smartsModal=smartsReactantsModal
                sketcherReady=sketcherReady}}
            <div class="w-100">
              {{bs-button type="primary" class="m-1 m-auto"
                    defaultText="Load SMILES"
                    onClick=(action (mut smartsReactantsModal) true) }}
            </div>
            {{/chemical-editor}}
          </div>

        </div>
        <div class="form-group col-lg-6 w-100
                  text-center reaction-products
                  ">
          {{#if products}}
          <h5>Products</h5>
          <div>
            {{#each products as |product index|}}
            {{chemical-display
                    canvasIdRoot='canvas-product-'
                    index=index
                    dataJSON=product
                    chemType='molecule'
                    class="d-inline"
                  }}
            {{/each}}
          </div>
          {{/if}}
          <div>
            {{#if (not products)}}
            {{bs-button type="warning" class="m-1"
                  defaultText="Run reaction"
                onClick=(action 'runReaction' false) }}
            {{/if}}
          </div>
          {{alert-generic
              alertType="danger"
              message=errorReactionMessage}}
        </div>
      </div>
      {{#if products}}
      <div class='row'>
        <div class='col-md-12 w-100 text-center'>
          {{bs-button type="primary" class="m-1"
                defaultText="New test"
                onClick=(action (mut products) false) }}
        </div>
      </div>
      {{/if}}
    </div>
    {{/if}}
    {{#if (and isOwner (or
        (and (not model.is_reactor) model.isObsolete)
        (and products model.isReadyToActive) )) }}
    <h4 class="w-100 text-center mt-3">
      Activation
    </h4>
    <div class="container w-100 text-center">
      <div class="row w-75 m-auto">
        <p class="col-md-8 text-left"><i>
            By clicking on "Activate Reaction",
            this reaction will be available for projects
            and <b>you'll not be able to modifiy it</b>.
          </i></p>
        <div class="col-md-4">
          {{bs-button type="success" class="m-1"
              defaultText="Activate Reaction"
              onClick=(action 'validateReaction') }}
        </div>
      </div>
    </div>
    {{/if}}
    {{#if (and isOwner model.isActive) }}
    <h4 class="w-100 text-center mt-3">
      Make obsolete
    </h4>
    <div class="container w-100 text-center">
      <div class="row w-75 m-auto">
        <p class="col-md-8 text-left"><i>
            By clicking on "Make Reaction Obsolete",
            this reaction <b>will not be available for new projects</b>.
          </i></p>
        <div class="col-md-4">
          {{bs-button type="danger" class="m-1"
              defaultText="Make Reaction Obsolete"
              onClick=(action 'obsoleteReaction') }}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  {{#if model.is_reactor}}
  <div class="card-footer">
    <img src="/assets/images/powered_by_chemaxon_GOLD_M.png" class="mx-auto d-block" height=40 />
  </div>
  {{/if}}
</div>