<!-- route show -->

<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <h3  class="mr-auto">
              {{model.name}}
              {{status-badge model=model class="d-inline"}}
            </h3>
            <div class="m-1">
                {{#if model.notObsolete}}
                  {{#bs-button type=mainBtnInfo.btnType onClick=(action mainBtnInfo.action) class="m-1"}}
                    {{mainBtnInfo.label}}
                  {{/bs-button}}
                {{/if}}
            </div>
        </div>
            <div>

                <form>

                    <div class="container"><div class="row">
                        <div class="form-group col-lg-4">
                            <label>Name</label>
                            {{input value=model.name model=model class='form-control'}}
                            <label>Description</label>
                            {{textarea value=model.description model=model class='form-control' rows='3'}}

                            <div>
                              {{#if model.isEditing}}
                                {{bs-button type="primary" class="m-1"
                                  defaultText="Load Smarts"
                                  onClick=(action (mut smartsModal) true) }}
                              {{else}}
                                <p><b>Number of reactants :</b> {{model.reactants_number}} </p>
                              {{/if}}
                            </div>
                        </div>
                        <div class="form-group col-lg-8">
                            {{{image}}}
                            {{#if model.isEditing}}
                              {{molecule-editor
                                model=model
                                skecthId='sketcher-reaction'
                                saveModel=(action 'saveReaction')
                                getJSONStatus=getJSONStatus
                                evaluateJSONStatus=evaluateJSONStatus
                                smartsModal=smartsModal
                                sketcherReady=sketcherReady}}
                            {{else}}
                              {{display-chemical
                                canvasId='canvas-reaction'
                                model=model
                                chemType='reaction'
                              }}
                            {{/if}}
                        </div>
                    </div></div>
                </form>
        </div>
    <!-- Test Reaction -->
        {{#if model.isActive}}
          <h4 class="mr-auto">
              Test reaction
          </h4>
          <form>
              <div class="container"><div class="row">
                  <div class="form-group col-md-6">
                      <label>Reactant(s) smiles</label>
                      {{textarea row="3" class="form-control" value=reactants }}
                  </div>
                  <div class="form-group col-md-6">
                      <label>Products smiles</label>
                      <textarea readonly row="3" class="form-control reaction-products" value={{products}} />
                  </div>
              </div></div>
              <div class="d-flex justify-content-center">
                  <button type="button"
                      class="btn reaction-reactants m-2 btn-primary"
                      onClick={{action 'runReaction' reactants}}
                      >
                          Run reaction
                  </button>
              </div>
            </form>
          {{/if}}
    </div>
    {{#if model.is_reactor}}
      <div class="card-footer">
        <img src="/assets/images/powered_by_chemaxon_GOLD_M.png" class="mx-auto d-block" height=40 />
      </div>
    {{/if}}
</div>
