<h4>User Manual</h4>
  <p>
    A step-by-step guide to use MetWork :
    <a
        href="{{envServerName}}/documentation/MetWork_User_Manual.pdf"
        target="_blank">
      Download User Manual
    </a>
  </p>

<h4>Demo Dataset</h4>
  <p>
    Those two files can be use to test MetWork : <br />
    <a href="{{envServerName}}/documentation/Demo_Metwork.mgf">
      Download .mgf data
    </a>
    <br />
    <a href="{{envServerName}}/documentation/annotation_Demo_Metwork.csv">
      Download .csv annotation file
    </a>
	<br />
    <a href="{{envServerName}}/documentation/annotation_Demo_Metwork.tsv">
      Download .tsv annotation file
    </a>
  </p>

<h4>Source Code</h4>
  <p>
    The code of of MetWork is available on GitHub :
    <a href="https://github.com/metwork-project" target="_blank"> https://github.com/metwork-project </a>
  </p>

<h4>Publications</h4>
  <p>
    The MetWork project has been presented at the 11e JS du RFMF Liège 2018 in Belgium.
    Two posters and a flash communication.

    <p class="text-center"><i>  click on poster image to download the .pdf </i></p>
    <div class="container d-flex justify-content-center ">
      <div class="row d-flex justify-content-center ">
          <a
              href="{{envServerName}}/documentation/Poster-Beauxis-Liege-2018.pdf"
              target="_blank">
           <img class="m-2 border" src="/assets/images/Poster-Beauxis-Liege-2018.png" alt="Poster-Beauxis-Liege-2018">
          </a>

          <a
              class="m-2 border"
              href="{{envServerName}}/documentation/Poster-Aimond-Liege-2018.pdf"
              target="_blank">
           <img src="/assets/images/Poster-Aimond-Liege-2018.png" alt="Poster-Aimond-Liege-2018">
          </a>
      </div>
    </div>
  </p>
