<h4>User Manual</h4>

  <a
      href="{{envServerName}}/documentation/MetWork_0.1_User_Manual.pdf"
      target="_blank">
    Download User Manual
  </a>

<h4>Demo Dataset</h4>

<a href="{{envServerName}}/documentation/Demo_Metwork.mgf">
  Download .mgf data
</a>
<br />
<a href="{{envServerName}}/documentation/annotation_Demo_Metwork.csv">
  Download .csv annotations
</a>

<h4>Publications</h4>

  The MetWork project has been presented at the 11e JS du RFMF Liège 2018 in Belgium.
  Two posters and a flash communication.

  <p class="text-center"><i>  click on poster image to download the .pdf </i></p>
  <div class="container d-flex justify-content-center ">
    <div class="row d-flex justify-content-center ">
        <a
            href="{{envHost}}/documentation/Poster-Beauxis-Liege-2018.pdf"
            target="_blank">
         <img class="m-2 border" src="/assets/images/Poster-Beauxis-Liege-2018.png" alt="Poster-Beauxis-Liege-2018">
        </a>

        <a
            class="m-2 border"
            href="{{envHost}}/documentation/Poster-Aimond-Liege-2018.pdf"
            target="_blank">
         <img src="/assets/images/Poster-Aimond-Liege-2018.png" alt="Poster-Aimond-Liege-2018">
        </a>
    </div>
  </div>
