<!-- Login -->



<div class="card login-form">

  <div class="card-body">
    <h3 class="card-title">Login</h3>

				{{#bs-form 
				    formLayout='horizontal' 
				    onSubmit=(action "authenticate") 
				    novalidate=true 
				    model=model as |form|}}

				      {{form.element 
				            controlType="email" 
				            label="Email" 
				            placeholder="your@email.com" 
				            property="email"
				            value=email}}
				      {{form.element 
				            controlType="password" 
				            label="Password" 
				            placeholder="Password" 
				            property="password"
				            value=password}}

					<div class="d-flex justify-content-between">

						<div>
				      {{bs-button 
				            defaultText="Login" 
				            type="submit" 
				            buttonType="submit"
				            class="btn btn-primary"}}
				        {{bs-button type="secondary"  
				            defaultText="Forgot password ?" 
				            onClick=(action 'resetPassword') }}

						</div>
						<div>
	
							{{bs-button 
									type="submit" 
									buttonType="submit"
									defaultText="Guest Login" 
									onClick=(action "authenticateGuest")
									class="btn btn-warning"}}

						</div>

					</div>
				{{/bs-form}}

    {{#if error }}
        <div class="alert alert-danger m-2" role="alert">
          {{error}}
        </div>
    {{/if}}
	</div>

</div>


